.button {

    border: none;
    outline: none;
    cursor: pointer;

    &_dark {
        background-color: @primaryColor;
        color: @primaryLight;
    }

    &_light {
        background-color: @accentColor;
        color: @primaryDark;
    }

    &:hover {
        cursor: pointer;
    }

    &_circle {
        border-radius: 50%;
    }

    &__save {
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 80px;
        height: 80px;
        background: @accentColor url('img/save.svg') no-repeat center;
        background-size: 50%;
    }

    &__add {
        position: fixed;
        right: 20px;
        bottom: 120px;
        width: 80px;
        height: 80px;
        background: @accentColor url('img/mathematical-addition-sign.svg') no-repeat center;
        background-size: 50%;
    }

}
