.workField {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 120px 40px 0px 40px;
    background-color: @backgroundLight;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    &__header {
        display: flex;
        align-items: center;
        height: 100px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: #3D566E;
    }

}
