.productList {
    background-color: @backgroundLight;

    &__title {
        margin: 0;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item {
        position: relative;
        margin: 10px;
        padding-bottom: 60px;
        width: 350px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.29);
        background-color: @primaryLight;

    }

    &__item-remove {
        padding: 0 !important;
        position: absolute;
        right: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

    &__item-name {
        margin: 20px 0;
        font-family: Roboto;
        font-weight: 300;
        font-size: 25px;
        text-align: center;
    }

    &__item-cover {
        margin: 0 auto;
        width: 100%;
        height: 200px;
    }

    &__item-description {
        margin: 20px;
        text-align: center;
        font-family: 'Open Sans'
    }

    &__item-button {

        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        font-family: Roboto;
        font-size: 30px;

    }

    &__item-price {
        margin: 10px;
        font-family: Roboto;
        font-size: 25px;
        text-align: right;
    }

}
