.productList#productList(ng-controller="ProductController as list")

    nav.workField__header

        h2.storeInfo__title.text_color_light Список товаров
    
    div.productList__list
        div.productList__item(ng-repeat="product in list.products track by $index")
            .waves-effect.waves-light.button.button_light.productList__item-remove(ng-click="list.removeProduct($index)") ×
            .productList__item-name {{product.name}}

            .productList__item-cover(ng-hide='cover.isVideoCover(product.image)'
                                    back-img="{{'/connects/uploads/' + product.image}}"
                                    back-size="contain"
                                    ng-controller="productCoverController as cover")
                            

            .productList__item-cover(ng-show='cover.isVideoCover(product.image)'
                                    ng-controller="productCoverController as cover")

                iframe(ng-src='{{cover.setVideo(product.video[0])}}'
                                frameborder='0'
                                allowfullscreen='allowfullscreen'
                                style="width:100%;height:100%;")

            p.productList__item-description {{product.description}}
            .productList__item-price {{product.price}} руб.
            .waves-effect.waves-light.button.button_dark.productList__item-button(ng-click="list.openEditPage($index)") Редактировать
            
    div.button.button_circle.button__add.button_light.waves-effect.waves-light(ng-click="list.addProduct()")
    div.button.button_circle.button__save.button_light(ng-click="list.save()")
