@font-face {
    font-family: Roboto;
    src: local("Roboto"),
    local("Roboto"),
    url(../fonts/robotoLight.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: local("Roboto"),
    local("Roboto"),
    url(../fonts/robotoRegular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: Roboto;
    src: local("Roboto"),
    local("Roboto"),
    url(../fonts/robotoMedium.ttf);
    font-weight: 500;
}

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"),
  local("Open Sans"),
  url(../fonts/openSans.ttf);
  font-weight: 300;
}
