.card {
    position: relative;
    background-color: #fff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    min-width: 400px;

    &__header {
        width: 100%;
    }

    &__title {
        background-color: @backgroundDark;
        color: #fff;
        text-align: center;
        margin: 0;
        padding: 20px;
    }

    &__content {
        padding: 20px;
    }
}
