.auth {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: url('https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png') no-repeat center;
    background-size: cover;

    &__row {
        align-items: center;
        align-items: center;
    }

    &__form {
        padding: 50px;
        border-radius: 10px;
        background-color: #fff;
    }

    &__title {
        margin: 0;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-family: Roboto;
    }

    &__label {
        font-family: Roboto;
    }

    &__input {
        padding: 10px;
        border: none;
        border-bottom: 2px solid #2196F3;
        outline: none;
        font-family: Roboto;
        font-size: 15px;
        margin-left: 20px;
        flex-grow: 1;
    }

    &__button {
        font-size: 15px;
        margin-top: 20px;
        padding: 10px;
    }

}
