div.auth

    form.auth__form(ng-submit='login.submit()', ng-controller='AdminLoginController as login')

        div.row
            h1.auth__title Авторизация

        div.row.input-field
            input#adminLogin(type="text" name='login' value='')
            label Логин

        div.row.input-field
            input#adminPass(type="password" name='password' value='')
            label Пароль

        div.row(style="justify-content: center")
            button.btn-large.waves-light.waves-effect.blue(type='submit') Войти
            //- input.button.button_dark.auth__button(type='submit', value='Забыли пароль?')
