@import "assets/libs/palette.less";
@import "assets/libs/fonts.less";
@import "assets/libs/media.less";

@import "assets/libs/angular-ui-notification.less";

@import "assets/libs/ngDialog.less";
@import "assets/libs/ngDialog-theme-plain.less";

@import "assets/blocks/input/input.less";
@import "assets/blocks/button/button.less";

@import "assets/blocks/card/card.less";
@import "assets/blocks/nav/nav.less";
@import "assets/blocks/workField/workField.less";
@import "assets/blocks/storeInfo/storeInfo.less";
@import "assets/blocks/productList/productList.less";
@import "assets/blocks/metaInfo/metaInfo.less";
@import "assets/blocks/productPage/productPage.less";
@import "assets/blocks/adminLogin/adminLogin.less";
@import "assets/blocks/mailHistory/mailHistory.less";



body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: Roboto;
    font-size: 45px;
    font-weight: 500;
}

h2 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
    margin: 0 0 20px 0;
    font-weight: 400;
}

h3 {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
}

.text {

    &_color {

        &_light {
            color: @primaryLight;
        }

        &_dark {
            color: @primaryColor;
        }

    }

}

.container {
    width: 1170px;
    max-width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

.info {
    margin: 0;
    background-color: #00BCD4;
    color: #fff !important;
    font-family: Roboto;
    text-align: center;
}
