| <?php
| include("../classes/_class.config.php");
| include("../classes/_class.db.php");
| $config = new config;
| $db = new db($config->HostDB, $config->UserDB, $config->PassDB, $config->BaseDB);
| @session_start();
| ?>

//- | <?php header('Expires: '.gmdate('D, d M Y H:i:s \G\M\T', time() + 3600)); ?>

html(lang="en" ng-app="store")
head
    meta(charset="UTF-8")
    meta(http-equiv="expires" content="Sun, 01 Jan 2014 00:00:00 GMT")
    meta(http-equiv="pragma" content="no-cache")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js")
    script(src="js/index.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css")
    link(rel="stylesheet", href="index.css")
    title ADMIN PANEL

body

    | <?php
    | # Блокировка сессии
    | if(isset($_SESSION["admin"])){
    | ?>

    include blocks/nav/nav.jade

    include blocks/workField/workField.jade

    | <script type="text/ng-template" id="productEditPage">

    include blocks/productPage/productPage.jade

    | </script>

    | <?php
    | }else{
    | ?>
    include blocks/adminLogin/adminLogin.jade
    | <?php
    | }
    | ?>
