.productPage {

    padding: 0 50px;

    &__row {
        margin: 15px 0;
        align-items: center;
        justify-content: flex-start;
    }

    &__button {
        padding: 10px 20px;
        margin: 0 auto;
        font-family: Roboto;
        font-size: 20px;
    }

    &__label {
    }

    &__video {
        justify-content: space-between;
        //
        & .input-field {
            flex-grow: 6;
        }
        //
        & button {
            flex-grow: 1;
            margin-left: 40px;
        }

    }

    &__info {
        width: 100%;
        padding: 5px 0;
        color: #fff;
    }

    &__select {
        margin-left: 10px;
        padding: 5px;
        font-family: Roboto;
        color: #fff;
        background-color: @primaryColor;

    }

    &__save {
        width: 100%;
    }

}
