.productPage(ng-controller="ProductPageController as page")

    div.row.input-field
        input#productName(type="text" value="111" ng-model="ngDialogData.product.name")
        label(for="productName") Название товара:

    .row.productPage__row(ng-controller="productCoverController as cover")

        div.input-field(style="margin-right:30px;")
            select(ng-init="cover.productCoverType='image'",
                    ng-model="cover.productCoverType",
                    ng-change="cover.changeType()")
                option(value="image" selected) Изображение
                option(value="video") Видео
            label Тип обложки

        p.info.productPage__info(ng-show="cover.isVideo") Будет использовано первое видео их списка


        form(action='#' ng-hide="cover.isVideo")
            .file-field.input-field
                .btn.blue
                    span Загрузить
                    input(type='file', nv-file-select uploader="page.uploader")
                .file-path-wrapper
                    input.file-path.validate(type='text', placeholder='Выберите изображение')

        ul(ng-show="cover.isImage")
            li(ng-repeat="item in page.uploader.queue")
                span Имя: {{ item.file.name }}
                button(ng-click="item.remove()") Х
                p Размер: {{ item.file.size/1024/1024|number:2 }} Mb
                div(ng-thumb="{file: item._file, height: 100}")


    div.row.input-field
        textarea.materialize-textarea#productDescription(ng-model="ngDialogData.product.description" elastic) dffdf
        label(for="productDescription") Описание:


    div.row.input-field
        input#productPrice(type="text" ng-model="ngDialogData.product.price" value="111")
        label(for="productPrice") Цена:

    .row.productPage__video(ng-repeat="video in ngDialogData.product.video track by $index")

        .input-field
            input#productVideo(type="text" ng-model="ngDialogData.product.video[$index]")
            label(for="productVideo") Ссылка на YouTube видео:

        button.btn.waves-effect.waves-light.red.darken-1(ng-click="page.remove($event, ngDialogData, $index)") Удалить

    .row.productPage__row

        button.btn.waves-effect.waves-light.blue(ng-click="ngDialogData.product.video.length = ngDialogData.product.video.length + 1") Добавить видео

    .row.productPage__row
        button.productPage__save.btn.btn-large.waves-effect.waves-light.blue.darken-3(ng-click="page.saveProduct(ngDialogData, page.uploader.queue)") Сохранить
