.storeInfo#storeInfo(style="display:none" ng-controller="StoreInfoController as infoCtrl")

    nav.workField__header

        h2.storeInfo__title.text_color_light Редактирование общей информации


    // @TODO: Order normal backend

    div.row.storeInfo__row

        div.card.storeInfo__card

            div.card__header
                h3.card__title Информация в шапке

            div.card__content

                div.row.storeInfo__card-row.input-field
                    input#header_input_1.input(type="text" ng-model="infoCtrl.info[6].content")
                    label(for="header_input_1") Заголовок 1:

                div.row.storeInfo__card-row.input-field
                    input#header_input_2.input(type="text" ng-model="infoCtrl.info[7].content")
                    label(for="header_input_2") Заголовок 2:

        div.card.storeInfo__card

            h3.card__title Редактирование информации в описании

            div.card__content

                div.row.storeInfo__card-row.input-field
                    input#description_1(type="text" ng-model="infoCtrl.info[0].content")
                    label(for="description_1") Заголовок 1

                div.row.storeInfo__card-row.input-field
                    textarea#description_2.materialize-textarea(type="text" rows="3" ng-model="infoCtrl.info[1].content")
                    label(for="description_2") Текст 1

                div.row.file-field.input-field

                    .btn.blue
                        span Первое изображение
                        input(type="file" nv-file-select='nv-file-select', uploader='infoCtrl.uploaderOne')
                    .file-path-wrapper
                        input.file-path.validate(placeholder="Выберите файл")


                div.card.storeInfo__image(ng-repeat='item in infoCtrl.uploaderOne.queue|limitTo:1')
                    .card-image
                        div(ng-thumb='{file: item._file, height: 300, width: 540}')
                        span.card-title {{ item.file.name }}
                        button.btn.red.storeInfo__remove(ng-click='item.remove()') Удалить

                div.row.storeInfo__card-row.input-field
                    input(type="text" ng-model="infoCtrl.info[4].content")
                    label(for="description_4") Название 1 изображения:

                div.row.storeInfo__card-row.input-field
                    input.input.storeInfo__input(type="text" ng-model="infoCtrl.info[2].content")
                    label(for="description_5") Заголовок 2:

                div.row.storeInfo__card-row.input-field
                    textarea#description_6.materialize-textarea(type="text" rows="3" ng-model="infoCtrl.info[3].content")
                    label(for="description_6") Текст 2:

                div.row.file-field.input-field

                    .btn.blue
                        span Второе изображение
                        input(type="file" nv-file-select='nv-file-select', uploader='infoCtrl.uploaderTwo')
                    .file-path-wrapper
                        input.file-path.validate(placeholder="Выберите файл")


                div.card.storeInfo__image(ng-repeat='item in infoCtrl.uploaderTwo.queue|limitTo:1')
                    .card-image
                        div(ng-thumb='{file: item._file, height: 300, width: 540}')
                        span.card-title {{ item.file.name }}
                        button.btn.red.storeInfo__remove(ng-click='item.remove()') Удалить

                div.row.storeInfo__card-row.input-field
                    input#description_8(type="text" rows="3" ng-model="infoCtrl.info[5].content")
                    label(for="description_8") Название 2 изображения:


        div.card.storeInfo__card(ng-controller="productCoverController as cover")

            h3.card__title Фоновое видео для шапки

            div.card__content

                div.row.storeInfo__card-row
                    span.storeInfo__input-label Ссылка на Youtube:
                    input.input.storeInfo__input(type="text" ng-model="infoCtrl.info[10].content")

                div.row.storeInfo__card-row
                    .card.storeInfo__video
                        iframe(ng-src='{{cover.setVideo(infoCtrl.info[10].content)}}' frameborder="0" allowfullscreen style="width:100%;height:100%")

    div.button.button__save.button_color_dark.button_circle(ng-click="infoCtrl.save(infoCtrl.info, infoCtrl.uploaderOne.queue, infoCtrl.uploaderTwo.queue)")
