.storeInfo {

    &__row {
        justify-content: space-between;
        align-items: stretch;
    }

    &__title {
        margin: 0;
        padding-left: 45px;
        text-align: center;
        font-weight: 400;
        color: #202020;
    }

    &__card {
        flex-grow: 1;
        margin: 10px;
        height: auto;

        &_wide {
            width: 100%;
        }

    }

    &__card-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;

    }

    &__input {
        flex-grow: 1;
    }

    &__textarea {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    &__input-label {
        margin-right: 20px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 300;
    }

    &__image {
        position: relative;
        width: 100%;
        max-width: 540px;
        margin: 0 auto 20px auto;
        overflow: hidden;
    }

    &__remove {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__video {
        margin: 0 auto;
        height: 300px;
        width: 70%;
    }

}
