nav.nav.column#nav(ng-controller="NavigationController as navCtrl")
    div(ng-click="navCtrl.showOnWorkField('productList', $event)").nav__item Список продуктов
    div(ng-click="navCtrl.showOnWorkField('storeInfo', $event)").nav__item Информация в магазине
    div(ng-click="navCtrl.showOnWorkField('metaInfo', $event)").nav__item Мета теги
    div(ng-click="navCtrl.showOnWorkField('mailHistory', $event)").nav__item История заказов
