.nav {
    position: relative;
    width: 30%;
    max-width: 300px;
    height: 100%;
    background-color: @backgroundDark;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 2;

    &__item {
        color: @primaryLight;
        font-family: Roboto;
        padding: 0 20px;
        font-size: 16px;

        &:hover {
            background-color: lighten(@backgroundDark, 5%);
            cursor: pointer;
        }

    }

    &__item-active {
        background-color: lighten(@backgroundDark, 10%);
    }

}
