.mailHistory {

    &__card {

        width: 45%;
        margin: 10px;

    }

    &__label {
        margin-right: 20px;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 300;
    }

    &__input {
        flex-grow: 1;
    }

    &__card-row {
        align-items: center;
    }

}