#mailHistory.mailHistory(style="display:none" ng-controller="MailHistoryController as history")

    nav.workField__header

        h2.storeInfo__title.text_color_light История заказов

    div.row.mailHistory__row

        table.striped

            thead
                tr
                    th № заказа
                    th Имя
                    th Почта
                    th Телефон
                    th Заказ

            tbody

                tr(ng-repeat="mail in history.mails")
                    td {{$index + 1}}
                    td {{mail.name}}
                    td {{mail.email}}
                    td {{mail.phone}}
                    td {{mail.mail}}

        //- div.card.mailHistory__card(ng-repeat="mail in history.mails")
        //-
        //-     h3.card__title Заказ номер {{$index + 1}}
        //-
        //-     div.card__content
        //-
        //-
        //-         div.row.mailHistory__card-row
        //-             span.mailHistory__label Имя:
        //-             span.mailHistory__label {{mail.name}}
        //-
        //-         div.row.mailHistory__card-row
        //-             span.mailHistory__label Почта:
        //-             span.mailHistory__label {{mail.email}}
        //-
        //-         div.row.mailHistory__card-row
        //-             span.mailHistory__label Телефон:
        //-             span.mailHistory__label {{mail.phone}}
        //-
        //-         div.row.mailHistory__card-row
        //-             span.mailHistory__label Заказ:
        //-             span.mailHistory__label {{mail.mail}}
