// .input {
//     padding: 10px;
//     font-family: Roboto;
//     font-size: 19px;
//     text-align: center;
//     outline: none;
//     border: 1px solid rgba(0, 0, 0, 0.2);
//
//     &:focus {
//         border-bottom: 2px solid @primaryColor;
//     }
//
// }
//
// .textarea {
//     padding: 10px;
//     font-family: Roboto;
//     font-size: 19px;
//     outline: none;
//
//     &:focus {
//         border: 2px solid @primaryColor;
//     }
//
// }
