div.metaInfo#metaInfo(style="display:none" ng-controller="MetaInfoController as metaInfo")

    nav.workField__header

        h2.storeInfo__title.text_color_light Редактирование meta - тегов

    div.card

        .card__content

            div.row.input-field
                input#title(type="text" ng-model="metaInfo.metaInfo[0].title")
                label(for="#meta_input_1") Название магазина:

            div.row.input-field
                textarea#metaDescription.materialize-textarea(type="text" ng-model="metaInfo.metaInfo[0].description")
                label Описание:

            div.row.input-field
                input#metaTags(type="text" ng-model="metaInfo.metaInfo[0].keywords")
                label Теги:

    div.button.button__save.button_color_dark.button_circle(ng-click="metaInfo.save(metaInfo.metaInfo)")
